@font-face {
  font-family: RF-Text-Bold;
  src: url("../fonts/RFDewiExtended-Black.ttf") format("truetype");  
}

@font-face {
  font-family: RF-Headline;
  src: url("../fonts/RFDewiExpanded-Bold.ttf") format("truetype");  
}

@font-face {
  font-family: RF-Text;
  src: url("../fonts/RFDewiExtended-Semibold.ttf") format('truetype');  
}

::-webkit-scrollbar {
  width: 0;
}

body {
  font-family: "RF-Text";
  background-color: #070707;
  font-weight: 450;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

strong {
  font-family: "RF-Text-Bold";
}

video {
  width: 100%;
  height: 100%;
  display: block;
}

.vcp-layer {
  display: none !important;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  text-align: center;
}

* {
  box-sizing: border-box;
}
