@font-face {
  font-family: Mont;
  src: url("../src/assets/fonts/Mont-Bold.otf") format("opentype");  
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  max-width: 100vw;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  text-align: center;
}
